<div class="divfoot">
<section class="Footer">
    <h4>Contact Us</h4>
    <p>Adarshnagar Birgunj-Madhesh ,Nepal<br>+977 9845451097 +977 9863570871<br>  +977 9845787169</p>
    <div class="icons">
       <i class="fa-brands fa-facebook"></i>
       <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-square-instagram"></i>
       <i class="fa-brands fa-linkedin"></i> 
       <p>Made by BIT Students</p>
       <p>&copy; 2024 BIT-ThakurRam. All rights reserved.</p>
    </div>
  </section>
  </div>