<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIT-ThakurRam   </title>
    <link rel="stylesheet" href="/css/navbarM.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styleM.css" >
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
<!-- cdn start -->

     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
 <!-- cdn end -->

  <link rel="shortcut icon" href="/Logos/fav.png" type="image/x-icon">
  

</head>
<body>
    
    <section class="header">
    <%-include('includes/navbar.ejs')%>
       <!-- nav -->
       <div class="text-box">
        <h1>Terai's First Campus</h1>
        <p>
          Serving since 2009 BS   <br>BIT (BACHELORS IN INFORMATION TECHNOLOGY)
        </p>
        <a href="" class="hero-btn">Visit Us to Know More</a>
      </div>

    </section>
<!------------course----------->
<main>
<section class="course" id="courses">
    <h1>Welcome to TRMC</h1>
    <p>
      We are proud to offer a distinguished and comprehensive Bachelor of Information Technology (BIT) program designed to equip students with the skills and knowledge needed to excel in the tech industry.
       Join us to embark on a journey of academic excellence and career success.
    </p>

    <div class="row">
      <div class="course-col">
        <h3>Facilities</h3>
        <p>
          Our campus is equipped with modern laboratories, libraries,
           and classrooms to provide an optimal learning environment.
        </p>
      </div>

      <div class="course-col">
        <h3>Experienced Faculty</h3>
        <p>
          Learn from industry experts and academicians
           who bring a wealth of knowledge and practical experience to the classroom.
        </p>
      </div>

      <div class="course-col">
        <h3>Career Opportunities</h3>
        <p>
          Graduates of our BIT program are well-prepared for various roles in the technology sector,
           including software development, data analysis, and IT management.
        </p>
      </div>
    </div>
  </section>
  <!-- course complete -->
    <!--------- -Campus-------- --->

    <section class="campus" id="campus">
        <h1>Our TRMC Campus</h1>
        <p>
          Thakur Ram Multiple Campus is fully grounded and attached to Nature !!
        </p>
  
        <div class="row">
          <div class="campus-col">
            <img src="/images/one.jpg" />
            <div class="layer">
              <h3>Front view</h3>
            </div>
          </div>
          <div class="campus-col">
            <img src="/images/two.jpg" />
            <div class="layer">
              <h3>Back view</h3>
            </div>
          </div>
          <div class="campus-col">
            <img src="/images/three.jpg" />
            <div class="layer">
              <h3>Side view</h3>
            </div>
          </div>
        </div>
      </section>
  
      <!------------Facilities----------->
  
      <section class="facilities" id="facilities">
        <h1>Our Facilities</h1>
        <p>
          We offer a range of top-notch facilities to enhance your learning experience and overall well-being.
        </p>
  
        <div class="row">
          <div class="facilities-col">
            <img src="/images/lab.jpeg" />
            <h3> Computer Lab</h3>
            <p>
              Our state-of-the-art computer lab is equipped with the latest technology 
              to support your academic needs and foster a productive learning environment.
            </p>
          </div>
          <div class="facilities-col">
            <img src="/images/playground.jpg" />
            <h3> Play Ground</h3>
            <p>
              Our expansive playground offers a perfect space for physical activities, 
              ensuring students have a place to relax and rejuvenate. 
            </p>
          </div>
          <div class="facilities-col">
            <img src="/images/cafeteria1.jpg" />
            <h3>cafeteria</h3>
            <p>
              Our cafeteria serves a variety of delicious and nutritious meals, providing students with the energy they need to excel throughout the day
            </p>
          </div>
        </div>
      </section>
      <!-- campus complete -->
        <!------- testimonials----- -->

     <section class="testimonials" id="/testimonials">
        <h1>What Our student Says</h1>
        <p>
        Some word from our First Batch
        </p>
  
         <div class="row">
  
          <div class="testimonials-col">
            <img src="/images/user1.png" />
            <div>
              <h3>Preety</h3>
              <p>
                "The BIT course here is fantastic! The blend of theory and practical learning keeps things exciting, and the campus environment is so encouraging. I'm grateful for the opportunities and experiences I've gained at Thakur Ram Multiple Campus."
              </p>
  
            </div>
          </div>
          <div class="testimonials-col">
            <img src="/images/aakashbg.png" />
            <div>
              <h3>Aakash</h3>
              <p>
                "Choosing the BIT program at Thakur Ram Multiple Campus was one of the best decisions I've made. The supportive faculty and hands-on projects have truly helped me build a strong foundation in IT. I feel ready to tackle the tech world with confidence!"
              </p>
              
    
            </div>
          </div>
  
         </div>
       <!------- testimonials- complete---- -->
         <!------ Call To Action ------->
  
         <section class="cta" id="contact">
          <h1>Registration started !! <br>for Batch 2081</h1>
          <a href="https://iost.tu.edu.np" class="hero-btn">Register Now</a>
         </section>
        </main>
          <!------ Footer ------->
        
        
         <%-include('includes/footer.ejs')%>
         <script src="/js/scriptM.js" ></script>
</body>
</html>