
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
main{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.header {
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
    position: relative;
  
  }
  
.message-container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1 {
    font-size: 24px;
    color: #333;
}
p {
    font-size: 18px;
    color: #666;
}
